<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary d-flex h-100">
  <div class="mx-auto h-100 justify-content-center align-items-center">
  <a class="navbar-brand" href="/">
    <img src="img/nLogo250.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    ewsweek - NewsFeeder
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="date-time ">
                    <span class="date">
                    </span>
                    <span class="time">
                    </span>
                </div>
    </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>

    <div class="navigation-section text-center">
        <nav class="navbar m-menu navbar-default">
            <div class="container d-flex">
                <ul class="nav navbar-nav main-nav list-inline mx-auto justify-content-center">
                    <li class="active list-inline-item"><a class="menu-button" href="/">Home</a></li>
                    <li><a class="menu-button list-inline-item" href="/saved">Saved articles</a></li>
                    <li>
                        <button class="menu-button scrape list-inline-item">Scrape new
                            articles</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<section id="category_section" class="category_section mx-auto h-100 justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_article_wrapper mx-auto h-100 justify-content-center align-items-center text-center">
                    
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1>
                                No articles to view.
                            </h1>
                        </div>
                        <div class="feature_article_content">
                          <h2>What Would You Like To Do?</h2>  
                        </div>
                        <div class="article_social">
                            <i class="fas fa-search"></i><button class="menu-button scrape">Try to
                                scrape
                                new
                                articles</button>

                            <span><i class="fas fa-bookmark"></i><a class="menu-button" href="/saved">Go to Saved
                                    Articles</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer_section" class="footer_section">
    <div class="footer_bottom_Section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="social">
                        <a class="nav-link" href="/"><h2>Back to the Top</h2></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>