<div class="container">
    <div class="header-section">
        <div class="row">
            <div class="col-md-4">
                <div class="left_section">
                    <span class="date">
                    </span>
                    <span class="time">
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="logo">
                    <a href="/">
                        <h1>Article Scraper</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-section">
        <nav class="navbar m-menu navbar-default">
            <div class="container">
                <ul class="nav navbar-nav main-nav">
                    <li class="active"><a class="menu-button" href="/">Home</a></li>
                    <li><a class="menu-button" href="/saved">Saved articles</a></li>
                    <li>
                        <button class="menu-button scrape">Scrape new
                            articles</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<section id="category_section" class="category_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive top_static_article_img" src="./img/feature-top.jpg"
                            alt="feature-top" />
                    </div>

                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1>
                                Uh Oh. Looks like we don't have any new articles.
                            </h1>
                        </div>
                        <div class="feature_article_content">
                            What Would You Like To Do?
                        </div>
                        <div class="article_social">
                            <i class="fas fa-search"></i><button class="menu-button scrape">Try to
                                scrape
                                new
                                articles</button>

                            <span><i class="fas fa-bookmark"></i><a class="menu-button" href="/saved">Go to Saved
                                    Articles</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer_section" class="footer_section">
    <div class="footer_bottom_Section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="social">
                        <a class="nav-link" href="/"><h2>Back to the Top</h2></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>