body { 
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,0.035);
}
.add-article, .delete-article, .show-note, .delete-note {
  cursor: pointer;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
}
textarea {
  display: block;
  width: 100%;
}
.alert{
  position: relative;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 20%;
  z-index: 100;
}

.bg-primary {
  background-color: black!important;
}

body {
  background-color: red;
}